*.class
*.cfg
*.log
Thumbs.db
**/log
properties.cfg
nb-configuration.xml
/covida-core/target/
/covida-flvcreator/target/
/covida-res/videos/*.xml
/covida-res/videos/*.anvil
/covida-res/vlc/plugins/plugins.dat
/covida-streamclient/target/
/covida-visual-swing-embedded/target/
/covida-visual-javafx/target/
/covida-video-vlcj/target/
/covida-visual-jme2/target/
/covida-visual-jme3-mvn/target/
/covida-flvcreator/target/
/covida-thirdparty/javafx/target/
/covida-thirdparty/jme-2.1/target/
/covida-thirdparty/jme3/target/
/covida-thirdparty/ermed-client/target/
/covida-thirdparty/vlcj-2.1.0/target/
/covida-thirdparty/touchandwrite/target/
/covida-thirdparty/touchandwrite-3rdparty/target/
/covida-thirdparty/ermed/target/