*.class
*.cfg
*.log
**/log
nb-configuration.xml
/covida-core/target/
/covida-visual/target/
/covida-ui/target/
/covida-streamclient/target/
/covida-visual-swing-embedded/target/
/covida-visual-swing-rendered/target/
/covida-visual-javafx/target/
/covida-video-vlcj/target/
/covida-visual-jme3/target/
/covida-visual-jme2/target/
/covida-visual-jme3-mvn/target/
/covida-visual-jme3/nbproject/private/