<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <path>media/textures/</path>
    <videoSourceList>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\test1.mp4</source>
            <name>AScatch</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\test2.mp4</source>
            <name>T&amp;W Demo</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\test3.mp4</source>
            <name>Urban Planing</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\test4.mp4</source>
            <name>RadSpeech</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\test5.mp4</source>
            <name>RoboCup</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\test7.mp4</source>
            <name>XML3D</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\AILA - Project SemProM.mp4</source>
            <name>AILA - Project SemProM</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\Robotics Innovation Center 2010.mp4</source>
            <name>Robotics Innovation</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\Asguard II - Snow Run.mp4</source>
            <name>Asguard II - Snow Run</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\Calisto - Collaborative Media Exchange Terminal for the Internet of Services.mp4</source>
            <name>Calisto</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\KomParse - Sprechende Agenten im virtuellen Berlin.mp4</source>
            <name>KomParse</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\Inveritas - Relative Navigation and Capture.mp4</source>
            <name>Inveritas</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\Magnet Crawler.mp4</source>
            <name>Magnet Crawler</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\Roboter AILA des DFKI auf der Hannover Messe 2010.mp4</source>
            <name>Roboter AILA</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\RoDes.mp4</source>
            <name>RoDes</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\Text 2.0.mp4</source>
            <name>Text 2.0</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\A.I. Poker im Casino Virtuell - DFKI Intelligent User Interfaces.mp4</source>
            <name>AI Poker</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
        <videoSource>
            <source>C:\\develop\\TouchAndWrite\\videotouch\\media\\videos\\IMoby - Speed Control vs. Wheel Synchronisation.mp4</source>
            <name>IMoby</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </videoSource>
    </videoSourceList>
    <videoList>
        <video>
            <size>25</size>
            <position>0</position>
            <repeating>true</repeating>
            <enabled>true</enabled>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </video>
        <video>
            <size>25</size>
            <position>1</position>
            <repeating>true</repeating>
            <enabled>true</enabled>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </video>
        <video>
            <size>25</size>
            <position>2</position>
            <repeating>true</repeating>
            <enabled>true</enabled>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </video>
        <video>
            <size>25</size>
            <position>3</position>
            <repeating>true</repeating>
            <enabled>true</enabled>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </video>
        <video>
            <size>25</size>
            <position>4</position>
            <repeating>true</repeating>
            <enabled>true</enabled>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </video>
        <video>
            <size>25</size>
            <position>5</position>
            <repeating>true</repeating>
            <enabled>true</enabled>
            <time_start>0</time_start>
            <time_end>0</time_end>
        </video>
    </videoList>
    <penList>
        <pen>
            <color>#ffffffff</color>
            <thickness>1</thickness>
        </pen>
    </penList>
</configuration>
