<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <path>media/textures/</path>
    <autologon>false</autologon>
    <defaultlogin>Covida User</defaultlogin>
    <videos>
        <video>
            <source>..\covida-res\videos\Collaborative Video Annotation.mp4</source>
            <name>CoVidA Demo</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
            <width>-1</width>
            <height>-1</height>
            <repeat>true</repeat>
        </video>
        <video>
            <source>..\covida-res\videos\RadSpeech DFKI(360p_H.264-AAC).mp4</source>
            <name>RadSpeech</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
            <width>-1</width>
            <height>-1</height>
            <repeat>true</repeat>
        </video>
    </videos>
    <penList>
        <pen>
            <color>#ffffffff</color>
            <thickness>1</thickness>
        </pen>
    </penList>
</configuration>
