<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <path>media/textures/</path>
    <device>WMINPUT</device>
    <autologon>true</autologon>
    <thumbcount>6</thumbcount>
    <defaultlogin>MeVidA User</defaultlogin>
    <videos>
        <video>
            <source>..\covida-res\videos\Collaborative Video Annotation.mp4</source>
            <name>CoVidA Demo</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
            <width>-1</width>
            <height>-1</height>
            <repeat>true</repeat>
            <uuid>c846fab0-7eae-47ce-96fb-b4ba23356903</uuid>
        </video>
        <video>
            <source>..\covida-res\videos\RadSpeech DFKI(360p_H.264-AAC).mp4</source>
            <name>RadSpeech</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
            <width>-1</width>
            <height>-1</height>
            <repeat>true</repeat>
            <uuid>7c4dfe3c-a244-46db-9384-abb64a3e94e4</uuid>
        </video>
        <video>
            <source>..\covida-res\videos\scan1.mp4</source>
            <name>Scan</name>
            <time_start>0</time_start>
            <time_end>0</time_end>
            <width>-1</width>
            <height>-1</height>
            <repeat>true</repeat>
            <uuid>2f573b01-8f40-46bd-8c71-4137164d12da</uuid>
        </video>
    </videos>
    <penList>
        <pen>
            <color>0xffffff</color>
            <thickness>1</thickness>
            <userlogin>MeVidA User</userlogin>
        </pen>
    </penList>
    <uicolor>0xffffff</uicolor>
    <max_video_height>300</max_video_height>
    <uicolors>
        <uicolor>0xffffff</uicolor>
        <uicolor>0x9a9fa5</uicolor>
        <uicolor>0xddffff</uicolor>
        <uicolor>0xcccccc</uicolor>
        <uicolor>0xffccff</uicolor>
    </uicolors>
</configuration>
